.app {
  margin-left: 500px;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.todo-container {
  background: white;
  border-radius: 16px;
  background-image: url('images/todo2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 380px;

}

h1 {
  font-size: 28px;
  color: #ce43d8;
  text-align: center;
  margin-bottom: 1rem;
}

.input-row {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.input-row input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.input-row select {
  border-radius: 10px;
  padding: 8px;
}

.input-row button {
  background: #a545dc;
  color: white;
  border: none;
  padding: 0 15px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.no-tasks {
  text-align: center;
  color: #888;
  margin-top: 2rem;
}

.calendar-section {
  margin-top: 2rem;
}

.calendar-section h3 {
  color: #c045dc;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}


@media (max-width: 500px) {
  .app {
    margin-left: 0;
    min-height: 50px;
    padding: 1rem;
  }

  .todo-container {
    width: 90%;
    padding: 1rem;
    background-size: cover;
      
  }

  body {
    overflow-x: hidden;
  }
}
